@import '../../../styles/var.less';
.fzk-monitor-wrap {
  height: 100%;
  width: 100%;
  position: relative;
  text-align: center;
  overflow: hidden;
  #map {
    height: e('calc(100vh - 98px)');
  }
  // 右上角搜索部分
  .loc-search-box {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 999;
    display: flex;
    .el-input-group__append {
      padding: 0 12px;
    }
    .restore {
      margin-left: 20px;
    }
    #reload{
      padding: 9px 10px;
    }
  }
  // 详情框
  .car-detail-box {
    position: absolute;
    z-index: 3000;
    left: 10px;
    width: 370px;
    border: 1px solid #409EFF;
    border-radius: 5px;
    background-color: #fff;
    transition: all .5s ease-in-out;
    text-align: left;
    &.big {
      max-height: e('calc(100vh - 100px)');
      .car-detail {
        max-height: e('calc(100vh - 680px)');
      }
    }
    &:hover {
      max-height: e('calc(100vh - 100px)') !important;
      .car-detail {
        max-height: e('calc(100vh - 300px)');
      }
    }
    // 车辆信息部分
    .car-info {
      padding: 8px;
      color: #fff;
      background-color: #409EFF;
      .top {
        margin-bottom: 10px;
        .plateNumber {
          font-size: 16px;
          font-weight: 500;
        }
        .onlineStatus {
          font-size: 12px;
          margin-left: 10px;
        }
      }
      .center {
        padding-bottom: 5px;
        border-bottom: 1px solid #fff;
        display: flex;
        justify-content: space-between;
      }
      .bottom {
        padding: 10px 0 0 20px;
        .loc {
          position: relative;
          height: 16px;
          .icon {
            position: absolute;
            top: 3px;
            left: -15px;
            font-size: 14px;
          }
        }
        .time {
          margin-top: 4px;
          display: flex;
          justify-content: space-between;
          position: relative;
          .icon {
            position: absolute;
            top: 2px;
            left: -15px;
            font-size: 14px;
          }
          .status {
            margin-top: -1px;
            color: #FFBF00;
          }
        }
        .fenceStatus {
          color: #ffffff;
        }
      }
    }
    // 车辆控制
    .car-control {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      list-style: none;
      border-bottom: 1px solid #409EFF;
      .controlItem {
        width: 20%;
        padding: 2px;
        line-height: 30px;
        text-align: center;
        display: inline-block;
        border-right: 1px solid #409EFF;
        position: relative;
        .trangle {
          height: 0;
          width: 0;
          border-right: 7px solid transparent;
          border-bottom: 7px solid #409EFF;
          border-left: 7px solid transparent;
          position: absolute;
          bottom: 0;
          left: 33px;
        }
        .itemTit {
          cursor : pointer;
          font-weight: 600;
          color: #409EFF;
        }
      }
      .controlItem:last-child{
        border: none;
      }
    }
    // 设备信息
    .deviceInfo {
      position: absolute;
      top: 150px;
      left: 0;
      border-bottom: 1px solid #409EFF;
      width: 100%;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      background: #fff;
      padding: 12px 25px;
      .deviceItem {
        .deviceTit{
          margin: 6px 0px 6px;
        }
        .deviceList {
          min-height: 30px;
          list-style: none;
          .deviceLi {
            display: flex;
            text-align: center;
            .deviceModel {
              width: 50%;
              margin-bottom: 5px;
            }
            .deviceIMEI {
              width: 50%;
            }
            .w700 {
              font-weight: 700;
            }
          }
        }
      }
    }
    // 控制按钮
    .controlList {
      position: absolute;
      top: 150px;
      left: 0;
      width: 100%;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      border-bottom: 1px solid #409EFF;
      list-style: none;
      padding: 10px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      background-color: #ffffff;
      .controlItem {
        display: inline-block;
        font-size: 13px;
        width: 20%;
        text-align: center;
        margin: 5px 8px;
        cursor: pointer;
        padding: 2px 0;
      }
    }
    // 车辆详情
    .car-detail {
      padding: 10px;
      word-spacing: 2px;
      max-height: e('calc(100vh - 340px)');
      overflow: auto;
      transition: all .5s ease-in-out;
      .line {
        width: 100%;
        height: 100%;
        .item {
          float: left;
          width: 48%;
          margin-right: 5px;
          list-style: none;
          margin-bottom: 8px;
          .label {
            display: inline-block;
            width: 55px;
            text-align: right;
          }
          .val {
            margin-left: 10px;
            text-align: left;
          }
        }
      }
    }
    .cancel {
      position: absolute;
      top: 5px;
      right: 5px;
      font-size: 16px;
      color: #fff;
      cursor: pointer;
    }
  }
  .car-table1 {
    width: 100%;
    position: absolute;
    transition: all .5s ease-in-out;
    background-color: #fff;
    margin-bottom: -10px;
    .pagination{
      text-align: center;
    }
    .filter-wrap {
      margin-bottom: -10px;
    }
    .filter-table {
      height: 380px;
      min-height: 380px;
      overflow-y: scroll;
      th .cell {
        text-align: center;
      }
    }
    .loc-change-box1 {
      position: absolute;
      top: -175px;
      right: 15px;
      z-index: 999;
      display: flex;
      flex-direction: column;
      transition: all .5s ease-in-out;
      .btn {
        margin-left: 0px;
        padding: 10px;
        margin-bottom: 10px;
      }
      .less {
        margin-bottom: 10px;
      }
      .mapTable {
        max-height: 320px;
        overflow: auto;
      }
    }
  }
  @media only screen and (max-width: 1265px) {
    .car-table1 {
      .el-table--small td {
        padding: 2px 0;
      }
      .filter-table {
        height: 340px;
        min-height: 340px;
        overflow-y: scroll;
        th .cell {
          text-align: center;
        }
      }
    }
  }
  .detail-active {
    top: 10px;
  }
  .loc-active {
    bottom: 340px;
  }
  .table-active {
    bottom: 0;
  }
}
.map-table {
  .m-table {
    padding: 0;
  }
}
.makerMsg {
  background-color: #fff;
  border-radius: 6px;
  position: relative;
  .plateNum {
    padding: 4px 10px;
    top: -5px;
    left: 50%;
  }
  .msg {
    list-style: none;
    line-height: 30px;
    li {
      width: 50%;
      float: left;
      .icon {
        margin-right: 5px;
        position: relative;
        top: 2px;
      }
      .txt {
        color: #666;
      }
    }
  }
}