@import '../../../styles/var.less';
.monitor-wrap {
  height: 100%;
  width: 100%;
  position: relative;
  text-align: left;
  overflow: hidden;
  #map {
    height: e('calc(100vh - 98px)');
  }
  .tab-table-track {
    width: 100%;
    position: absolute;
    background-color: #fff;
    .loc-change-box-track {
      position: absolute;
      top: -135px;
      right: 15px;
      z-index: 999;
      display: flex;
      flex-direction: column;
      .btn {
        margin-left: 0px;
        padding: 10px;
        margin-bottom: 10px;
      }
      .less {
        margin-bottom: 10px;
      }
    }
  }
  .loc-active {
    top: 10px;
  }
  .table-active {
    bottom: 0;
  }
}
.BMap_bubble_content {
  text-align: center;
  margin-top: 5px;
}
.makerMsgTrack {
  background-color: #fff;
  border-radius: 6px;
  position: relative;
  .msg {
    list-style: none;
    li {
      text-align: left;
      .icon {
        margin-right: 5px;
        position: relative;
        top: 2px;
      }
      .txt {
        color: #666;
      }
    }
  }
}