@import '../../../styles/var.less';
.monitor-wrap {
  height: 100%;
  width: 100%;
  position: relative;
  text-align: left;
  overflow: hidden;
  #map {
    height: e('calc(100vh - 98px)');
  }
  .tab-table-track {
    width: 100%;
    position: absolute;
    background-color: #fff;
    .loc-change-box-track {
      position: absolute;
      top: -115px;
      right: 15px;
      z-index: 999;
      display: flex;
      flex-direction: column;
      .btn {
        margin-left: 0px;
        margin-bottom: 10px;
      }
      .less {
        margin-bottom: 10px;
      }
    }
  }
  .loc-active {
    top: 10px;
  }
  .table-active {
    bottom: 0;
  }
}