.shopName {
  position: relative;
  .star1 {
    position: absolute;
    width: 5px;
    height: 5px;
    left: -78px;
    color: red;
  }
}
.typeName {
  position: relative;
  .star2 {
    position: absolute;
    width: 5px;
    height: 5px;
    left: -78px;
    color: red;
  }
}