.container {
  width: 100%;
  height: 100%;
  table {
    border: 1px solid #ececec;
    border-bottom: none;
    border-right: none;
    width: 100%;
    text-align: left;
    th {
      font-size: 13px;
      color: #232323;
    }
    td,th {
      border-right: 1px solid #ececec;
      border-bottom: 1px solid #ececec;
      line-height: 36px;
      padding: 0 10px;
    }
  }  
}
.btn {
  margin: 10px auto 0;
}