.model{
  .el-form-item {
    width: 700px;
  }
  .itemOne {
    display: flex;
    position: relative;
    .itemOneInput {
      width: 100%;
      input {
        padding-left: 15px;
      }
    }
    .btn{
      margin-left: 10px;
    }
    .itemOneTitle {
      position: absolute;
      left: 12px;
      color: #909399;
      font-size: 14px;
    }
  }
  .itemThree {
    width: 562px;
    position: relative;
    .itemThreeItem {
      position: relative;
      .itemThreeInput {
        width: 188px;
        input {
          padding-left: 68px;
          padding-right: 40px;
        }
      }
      .itemThreeTitle {
        position: absolute;
        top: 0;
        left: 12px;
        color: #909399;
        font-size: 14px;
      }
    }
    .btn{
      position: absolute;
      top: 0;
      right: -47px;
    }
  } 
  .itemFour {
    width: 562px;
    position: relative;
    .itemFourItem {
      position: relative;
      .itemFourInput {
        width: 141px;
        input {
          padding-left: 68px;
          padding-right: 40px;
        }
      }
      .itemFourTitle {
        position: absolute;
        top: 0;
        left: 12px;
        color: #909399;
        font-size: 14px;
      }
    }
    .btn{
      position: absolute;
      top: 0;
      right: -47px;
    }
  }
  .setBtnGroup {
    position: relative;
    text-align: left;
    .btnGroup {
      .allSet {
        margin-left: 160px;
      }
    }
    .noAll {
      position: absolute;
      top: 0px;
      left: 100px;
    }
    .All {
      position: absolute;
      top: 0px;
      left: 370px;
    }
  }
}
.color909399 {
  color: #909399;
}